<settings>
<category label="Settings">
	<setting id="user" type="text" label="Username" default=""/>
	<setting id="pass" type="text" label="Password" default=""/>
    <!-- Google Analytics --> 
    <setting id="ga_time" type="text" label="GA Called" default="2000-01-01 00:00:00" visible="false"/>
    <setting id="timezone" type="text" label="timezone" default="" visible="false"/>
    <setting id="firstrun" type="text" label="firstrun" default="" visible="false"/>
</category>
</settings>