<settings>
<category label="PORTAL WACHTV">
     <setting id="xtvmaster" type="bool" label="ACTIVAR ACCESO" default="false"/>
     <setting id="wachusername" type="text" label="INGRESA TU USERNAME" enable="eq(-1,true)" default=""/>
     <setting id="wachpass" type="text" option="writeable,hidden" label="INGRESA TU PASSWORD" enable="eq(-2,true)" default=""/>
</category>
<category label="CONTROL PATERNAL">
	<setting label="Control Paternal " type="lsep" />
    <setting id="morros" type="bool" label="Activar o desactivar contenido adulto" default="false"/>
</category>
</settings>