<settings>
<category label="General">
     <setting id="Username" type="text" label="Username" default=""/>
     <setting id="Password" type="text" label="Password" default=""/>
     <setting id="Server" type="select" label="Select your Server/Portal" values="http://p1.iptvrocket.tv|http://p2.iptvrocket.tv|http://s1.iptv66.tv|http://s2.iptv66.tv|http://p1.iptvprivateserver.tv|http://p2.iptvprivateserver.tv|http://p3.iptvprivateserver.tv|http://p4.iptvprivateserver.tv|http://p5.iptvprivateserver.tv" default=""/>
     <setting id="epgx" type="bool" label="Use Alternate EPG" visible="true" default="true"/>
     <setting id="xepgurl" type="text" label="Alternate EPG URL" default="https://raw.githubusercontent.com/kens13/EPG/master/guide_ks.xml" visible="eq(-1,true)"/>
     <setting id="meta" type="bool" label="Get VOD Meta" visible="true" default="true"/>
     <setting id="vodStrm" type="bool" label="Make VOD .strm Files" visible="true" default="false"/>
     <setting id="hidexxx" type="bool" label="Hide XXX Channels" visible="true" default="true"/>
</category>
<category label="Advanced Settings">
     <setting id="AS" type="select" label="Enable Advanced Settings" values="Enable Fire TV Stick AS|Enable Fire TV AS|Enable 1GB Ram or Lower AS|Enable 2GB Ram or Higher AS|Enable Nvidia Shield AS|Disable AS" default="Disable AS"/>
     <setting id="extplr" type="bool" label="Install External Player" visible="true" default="false"/>
</category>
</settings>