<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="[COLOR pink]GENERAL[/COLOR]">
		<setting type="lsep" label="[COLOR=red]Nothing Here![/COLOR]"/>
		<setting type="lsep" label=" "/>
		<setting label="First Run" visible="false" type="bool" id="firstrun" default="true"/>
		<setting label="Enable XXX Pass" visible="false" type="bool" id="enablexxxpass" default="false"/>
		<setting label="XXX Pass:" type="text" visible="false"   id="xxxpass"  enable="!eq(-1,)" default=""/>
	</category>
</settings>